<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SvnPath" value="C:\Program Files\VisualSVN Server\bin" />
    <add key="RepositoryPath" value="C:\Repositories" />
    <add key="DropBox.ApiKey" value="" />
    <add key="DropBox.AppSecret" value="" />
    <add key="DropBox.UserToken" value="" />
    <add key="DropBox.UserSecret" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Console" xsi:type="ColoredConsole" layout="${longdate} ${level} ${message} ${exception:format=type}">
        <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Red"/>
      </target>
      <target name="LogFile" xsi:type="File" fileName="${basedir}/logs/${cached:cached=true:inner=${date:format=yyyy-MM-dd}}.txt" layout="${longdate} ${level} ${message} ${exception:format=tostring} ${exception}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" writeTo="LogFile" />
      <logger name="*" minlevel="Info" writeTo="Console"/>
    </rules>
  </nlog>
</configuration>